.button {
    height: 17.125rem;
    width: 17.125rem;
    background-color: var(--color-white);
    border-radius: 100%;
    border: 0;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: var(--font-secondary);
    color: var(--color-black);
    transition: .2s;

    &:hover {
        box-shadow: 0 0 0 3rem rgba($color: #FFF, $alpha: 0.1);
    }
}
