@use '../utils/mixins.scss' as *;

.crew__container {
    @include background-style(crew);

    padding: 4rem 0 0;

    display: grid;
    place-items: center;

    .crew {
        &__header {
            width: 100%;
            // background-color: red;
            @include header-page;
        }
    }
}

// @media 