@use '../utils/mixins.scss' as * ;

.home {
    background-image: url(../../../public/assets/home/background-home-desktop.jpg);
    @include background-style(home);

    display: grid;
    place-items: center;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        max-width: 1150px;
        width: 100%;
        margin: 2rem auto 0;

        > div {
            max-width: 500px;

            h3 {
                font-size: 1.75rem;
                font-weight: 400;
                text-transform: uppercase;
            }

            h1 {
                font-family: var(--font-secondary);
                font-weight: 400;
                font-size: 8rem;
                line-height: 10rem;
                text-transform: uppercase;
            }

            p {
                font-size: 1.25rem;
                line-height: 1.5;
            }
        }
    }
}

@media (max-width: 850px) {
    .home__container {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
        padding: 5rem 0 2rem;
        text-align: center;

        > div {
            h1 {
                margin: 1rem 0 .5rem;
                // line-height: 7rem;
            }
        }
    }
}